body {
    margin-top: 60px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.form-error {
    color: #753a3a;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}

.pagination {
    text-align: center;
}
.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}
.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}
.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}
.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
}
.pagination .current-page {
    display: inline-block;
}
.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}

.order{
    border: 2px solid #6a7dff;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    border-radius: 5px;
    border: solid 1px;
    padding: 5px 10px;
    text-align: center;
    margin-top: 10px;
}

.message:first-child {
    margin-top: 0;
}

.message-error {
    background: rgba(255, 0, 0, 0.15);
    border-color: darkred;
    color: darkred;
}

.message-warning {
    background: rgba(255, 255, 0, 0.15);
    border-color: goldenrod;
    color: goldenrod;
}

.message-success {
    background: rgba(0, 255, 0, 0.15);
    border-color: green;
    color: green;
}

.message-info {
    background: rgba(0, 0, 255, 0.15);
    border-color: darkblue;
    color: darkblue;
}

.message-default {
    background: rgba(0, 0, 0, 0.15);
    border-color: #444444;
    color: #444444;
}
