{% extends "base.html" %}


{% block title %}Товары по категории{% endblock title %}


{% block page_header %}{{ product.get_category_display }}{% endblock page_header %}

{% block content %}
    <form action="" method="get">
        <p><label for="{{ form.search_value.id_for_label }}">
            {{form.search_value.label }}</label></p>
        <p>{{ form.search_value }}</p>
        <p><input type="submit" value="Найти"></p>
    </form>

    {% if not products_by_category %}
        <h2>НЕТ ТОВАРОВ</h2>
    {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название товара</th>
          <th scope="col">Цена</th>
          <th scope="col">Категория</th>
          <th scope="col">Действие</th>

        </tr>
      </thead>
      {% for product in products_by_category %}
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{% url "product-view" product.id %}">{{ product.name }}</a></td>
              <td>{{ product.price }}</td>
              <td>{{ product.get_category_display }}</td>
              <td><a href="{% url "product-in-cart" product.id %}" class="btn
              btn-primary btn-lg active"
                     role="button" aria-pressed="true">Добавить в корзину</a>
</td>
            </tr>
          </tbody>
      {% endfor %}
    </table>
{% endblock content %}