{% extends "base.html" %}

{% block menu %}
    <li><a href="{% url "product-add" %}">Создать товар</a></li>
    <li><a href="{% url "product-update" product.id %}">Редактировать
        товар</a></li>
    <li><a href="{% url "product-delete" product.id %}">Удалить товар</a></li>
    <li><a href="{% url "cart-view" %}">Корзина</a></li>
{% endblock menu %}

{% block page_header %}Товар {{ product.id }}{% endblock page_header %}

{% block content %}
    <div class="card" style="width: 700px">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">${{ product.price }}</h6>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.balance }}</p>
        <a href="{% url "product-category" product.category %}"
           class="card-link">
            {{ product.get_category_display }}
        </a>
        <form action="{% url "product-in-cart" product.id %} "
                        method="get">
              {% csrf_token %}
              <input type="number" name="quantity" min="1" max="99">
              <input type="submit" class="btn btn-primary btn-sm"
                     value="Добавить в корзину">
        </form>
      </div>
    </div>
{% endblock content %}