{% extends 'base.html' %}

{#{% block menu %}<li><a href="{% url "product-add" %}">Создать товар</a></li#}
{#>{% endblock menu %}#}

{% block title %}Все товары{% endblock title %}

{% block page_header %}Все товары{% endblock page_header %}

{% block content %}
    {% if not products %}
        <h2>НЕТ ТОВАРОВ</h2>
    {% endif %}

    {% for product in products %}
        <p>{{ product.get_category_display }}: <a href=
                                                         "{% url "product-view" product.id %}"
        >{{ product.name }}</a></p>
    {% endfor %}
{% endblock content %}