{% extends "base.html" %}


{% block title %}Товары по категории{% endblock title %}


{% block page_header %}{{ product.get_category_display }}{% endblock page_header %}

{% block content %}
    <form action="{% url "product-category" selected_category %}" method="get">
        <p><label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label></p>
        <p>{{ form.name }}</p>
        <p><input type="submit" value="Найти"></p>
    </form>

    {% if not products %}
        <h2>НЕТ ТОВАРОВ</h2>
    {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product name</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      {% for product in products_by_category %}
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{% url "product-view" product.id %}">{{ product.name }}</a></td>
              <td>{{ product.price }}</td>
              <td>{{ product.get_category_display }}</td>
            </tr>
          </tbody>
      {% endfor %}
    </table>
{% endblock content %}